.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
}
.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}
.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}


.carousel-control-prev {
    left: 0;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
}
#carouselExampleIndicators{
	/*height: 250px;*/
	/*height: 290px;*/
    text-align: center;
}
.carousel-inner {
	/*height: 290px;*/
}
.carousel-indicators{
	margin-bottom: -3rem;
}
.carousel-indicators [data-bs-target] {
	background-color: #CCCCCC;
	border-radius: 100%;
	width: 15px;
	height: 15px;
}
.carousel-indicators > .active{
	background-color: #0071BC !important;
}

.carousel-control-next, .carousel-control-prev {
	pointer-events: none;
	/*height: calc(100% - 44px);*/
}
.carousel-control-prev-icon,.carousel-control-next{
	pointer-events: auto;
}