/*首頁*/
@font-face {
	font-family: 'NotoSansTC';
	src: url('../img/fonts/Noto_Sans_TC/NotoSansTC-Regular.otf'),
	     url('../img/fonts/Noto_Sans_TC/NotoSansTC-Bold.otf'),
		 url('../img/fonts/Noto_Sans_TC/NotoSansTC-Light.otf'),

		 url('../img/fonts/Noto_Sans_TC/NotoSansTC-Medium.otf'),
		 url('../img/fonts/Noto_Sans_TC/NotoSansTC-Thin.otf');
	font-family: "NotoSansTC_Black";
	src:url('../img/fonts/Noto_Sans_TC/NotoSansTC-Black.otf');
		 
  }
.selector-for-some-widget {
	box-sizing: content-box;
  }
body{
	/*overflow: hidden;;
	-webkit-user-select: none;   
	-moz-user-select: none;
	text-align: -webkit-center;
	width: 1920px;
	height: 900px;
	transform-origin: left top;*/
	/*width: 1908px;*/
	font-family:'NotoSansTC';
	border: 0px solid transparent;
	padding: 0px;
	margin: 0px;
	height: 100vh;
	/*background-image: url(../img/bg.jpg);*/
	overflow-x: hidden;
}

.Btn{
	cursor: pointer;
}
a {
    text-decoration:none !important;
}
img{
	-webkit-user-drag: none;
}

/*按鈕透明*/
.mybtn {
	background: transparent;
	border: 0px transparent none;
	outline: none;
	z-index: 9998;
	padding: 0;
}
.mybtn:hover{
	transform: scale(1.05,1.05);
	pointer-events: auto; 
}
.Content{
    position: absolute;
    top: 0%;
}
.Logo{
    max-width: 674px;
    min-width: 336px;

}
.LevelImg{
    max-width: 174px;
    min-width: 81px;
}
a{
    text-align: center;
    margin-bottom: 89px;
    cursor: pointer;
}
.LevelImg2{
    max-width: 286px;
    min-width: 136px;
}
.copyright1{
    color: #92A1D8;
}
.copyright2{
    color: #92A1D8;
    line-height: 50px;
}